body {
	margin: 0;
	padding: 0;
}
.pageBackground {

}
h2 {
	color: #006FBF !important;
}
/* Navbar */
.navbarImage {
	height: 30px;
}
.videogameBrands {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.videogameBrands img {
	order: 1;
	height: 25px;
	opacity: .5;
	margin-left: 25px;
	margin-top: 20px;
}

.banner img{
	max-width: 100%;
	width: 100%;
}

/*  CARDS   */
.cards div.card {
width: 100%; box-shadow: 1px 1px 20px;
margin-top: 30px;
height: 280px;
}
.cards {
	margin-bottom: 30px;
}
/* Card icons */
.fa-calculator {
	margin-top: 20px;
	font-size: 80px;
	margin-bottom: 5px;
}
.fa-money-bill-alt {
	font-size: 80px;
	color: #007849;
}
.fa-users {
	font-size: 80px;
	color: #f7b733; 


}
/* Card buttons */
.aboutUsButton {
	margin-top: 28px;
}
.calcCard p{
	margin-top: -20px;
}

.rentButton {
	margin-top: 5px;
}
 /* Footer */
 .footer {
 	padding-top: 70px;
 	padding-bottom: 60px;
 	background-color: #ccc !important;
 	height: 100%;
 }
 .indexBody {

}
.sendButton {
	cursor: pointer;
background: #0575E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
font-weight: 300 !important;
width: 200px;
border: none !important;
}





